$progress-color: #d95547;
.progress-bar{
	position: relative;
	width: 98%;

	.bar{
		border-radius: 4px;
		height: 20px;
	}
	.bar-outer{
		width: 100%;
		position: relative;
		overflow: hidden;
		background: #e0e0e0;
		.bar-inner{
			position: absolute;
			background: $progress-color;
			transition: all 0.5s;
			text-align: center;
			span{
				line-height: 20px;
				color: white;
			}
		}
	}
}